* {
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 600px) {
#container {
    display: flex;
    height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-image: url('./assets/fundo.jpg');
        color: white;
        text-align: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        width: 70vw;
        height: 530px;
        border-radius: 20px;
        box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2); 
        color: black;
        text-decoration: none;
    }
    
    .titulo {
        font-size: 18px;
        font-weight: 650;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 25px;
        padding-top: 10px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        width: 200px;
        height: 35px;
        box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2); 
    }
    
    .tamanho {
        margin-top: 20px;
        font-weight: 500;
        font-size: 14px;
    }
    
    #tamanho-senha {
        margin-top: 5px;
        width: 180px;
        height: 30px;
        padding-left: 7px;
        border: 1px rgba(0, 0, 0, 0.3) solid;
        border-radius: 5px;
        box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2); 
        font-size: 12px;
    }
    
    .tipos-caracteres {
        margin-top: 25px;
        font-weight: 500;
        font-size: 14px;
    }
    
    .opcoes-caracteres {
        display: flex;
        flex-wrap: wrap ;
        justify-content: center;
        gap: 10px;
        padding-top: 8px;
        font-size: 10px;
        font-weight: 400;
    }
    
    .button-opcao {
        color: black;
        padding: 5px 15px;
        width: 100px;
        border-radius: 10PX;
        background-color: rgba(0, 0, 0, 0.1);
        border: 1px rgba(0, 0, 0, 0.3) solid;
    }
    
    .button-opcao:hover {
        background-color: rgba(0, 0, 0, 0.25);
    }
    
    #senha-gerada {
        margin-top: 30px;
        width: 220px;
        height: 30px;
        padding-left: 7px;
        border: 1px rgba(0, 0, 0, 0.3) solid;
        border-radius: 5px;
        box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2); 
    }
    
    .campo-opcoes-gerar-copiar {
        display: flex;
        margin-top: 15px;
        gap: 10px
    }
    
    .botoes-gerar-copiar {
        color: black;
        padding: 8px 4px;
        width: 100px;
        background-color: rgba(0, 0, 0, 0.1);
        border: 1px rgba(0, 0, 0, 0.3) solid;
        border-radius: 10px;
    }
    
    .botoes-gerar-copiar:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
    
    .tamanho-logo {
        margin-top: 30px;
        width: 65px;
        height: 65px;
    }

    .footer {
        margin-top: 10px;
        font-family: 'Sacramento', 
        cursive; font-size: 22px;
    }
}

@media (min-width: 601px) and (max-width: 960px) {
    #container {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-image: url('./assets/fundo.jpg');
        color: white;
        text-align: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        width: 70vw;
        height: 750px;
        border-radius: 20px;
        box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2); 
        color: black;
        text-decoration: none;
    }
    
    .titulo {
        font-size: 25px;
        font-weight: 650;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 35px;
        padding-top: 10px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        width: 450px;
        height: 35px;
        box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2); 
    }
    
    .tamanho {
        margin-top: 30px;
        font-weight: 500;
        font-size: 20px;
    }
    
    #tamanho-senha {
        margin-top: 10px;
        width: 250px;
        height: 30px;
        padding-left: 7px;
        border: 1px rgba(0, 0, 0, 0.3) solid;
        border-radius: 5px;
        box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2); 
        font-size: 15px;
    }
    
    .tipos-caracteres {
        margin-top: 30px;
        font-weight: 500;
        font-size: 20px;
    }
    
    .opcoes-caracteres {
        display: flex;
        flex-direction: column;
        align-items: center;    
        gap: 10px;
        padding-top: 8px;
        font-weight: 400;
    }
    
    .button-opcao {
        color: black;
        padding: 10px 15px;
        width: 300px;
        border-radius: 10PX;
        background-color: rgba(0, 0, 0, 0.1);
        border: 1px rgba(0, 0, 0, 0.3) solid;
    }
    
    .button-opcao:hover {
        background-color: rgba(0, 0, 0, 0.25);
    }
    
    #senha-gerada {
        margin-top: 35px;
        width: 450px;
        height: 30px;
        padding-left: 7px;
        border: 1px rgba(0, 0, 0, 0.3) solid;
        border-radius: 5px;
        box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2); 
        font-size: 15px;
    }
    
    .campo-opcoes-gerar-copiar {
        display: flex;
        margin-top: 15px;
        gap: 20px
    }
    
    .botoes-gerar-copiar {
        color: black;
        padding: 12px 8px;
        width: 100px;
        background-color: rgba(0, 0, 0, 0.1);
        border: 1px rgba(0, 0, 0, 0.3) solid;
        border-radius: 10px;
        font-size: 15px;
    }
    
    .botoes-gerar-copiar:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
    
    .tamanho-logo {
        margin-top: 30px;
        width: 75px;
        height: 75px;
    }

    .footer {
        margin-top: 15px;
        font-family: 'Sacramento', 
        cursive; font-size: 35px;
    }
}

@media (min-width: 960px) and (max-width: 1280px){
    #container {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-image: url('./assets/fundo.jpg');
        color: white;
        text-align: center;
    }
 
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        width: 60vw;
        height: 500px;
        border-radius: 20px;
        box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2); 
        color: black;
        text-decoration: none;
    }
    
    .titulo {
        font-size: 25px;
        font-weight: 650;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 13px;
        padding-top: 10px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        width: 400px;
        height: 45px;
        box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2); 
    }
    
    .tamanho {
        margin-top: 20px;
        font-weight: 500;
        font-size: 18px;
    }
    
    #tamanho-senha {
        margin-top: 10px;
        width: 280px;
        height: 30px;
        padding-left: 7px;
        border: 1px rgba(0, 0, 0, 0.3) solid;
        border-radius: 5px;
        box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2); 
    }
    
    .tipos-caracteres {
        margin-top: 20px;
        font-weight: 500;
        font-size: 17px;
    }
    
    .opcoes-caracteres {
        display: flex;
        flex-direction: row;
        padding-top: 8px;
        font-size: 15px;
        font-weight: 400;
    }
    
    .button-opcao {
        color: black;
        padding: 7px 18px;
        border-radius: 0px;
        background-color: rgba(0, 0, 0, 0.1);
        border: 1px rgba(0, 0, 0, 0.3) solid;
    }
    
    .button-opcao:hover {
        background-color: rgba(0, 0, 0, 0.25);
    }

    #opcao-numeral {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border-right: none;
    }

    #opcao-maiusculas {
        border-right: none;
    }

    #opcao-minusculas {
        border-right: none;
    }

    #opcao-simbolos {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    
    #senha-gerada {
        margin-top: 30px;
        width: 450px;
        height: 30px;
        padding-left: 7px;
        border: 1px rgba(0, 0, 0, 0.3) solid;
        border-radius: 5px;
        box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2); 
    }
    
    .campo-opcoes-gerar-copiar {
        display: flex;
        margin-top: 15px;
        gap: 25px
    }
    
    .botoes-gerar-copiar {
        color: black;
        padding: 10px 30px;
        background-color: rgba(0, 0, 0, 0.1);
        border: 1px rgba(0, 0, 0, 0.3) solid;
        border-radius: 5px;
    }
    
    .botoes-gerar-copiar:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
    
    .tamanho-logo {
        margin-top: 20px;
        width: 65px;
        height: 65px;
    }

    .footer {
        margin-top: 5px;
        font-family: 'Sacramento', 
        cursive; font-size: 30px;
    }
}

@media (min-width: 1281px) {   
    #container {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-image: url('./assets/fundo.jpg');
        color: white;
        text-align: center;
    }
 
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        width: 700px;
        height: 600px;
        border-radius: 20px;
        box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2); 
        color: black;
        text-decoration: none;
    }
    
    .titulo {
        font-size: 25px;
        font-weight: 650;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 20px;
        padding-top: 10px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        width: 500px;
        height: 45px;
        box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2); 
    }
    
    .tamanho {
        margin-top: 30px;
        font-weight: 500;
        font-size: 20px;
    }
    
    #tamanho-senha {
        margin-top: 5px;
        width: 300px;
        height: 30px;
        padding-left: 7px;
        border: 1px rgba(0, 0, 0, 0.3) solid;
        border-radius: 5px;
        box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2); 
    }
    
    .tipos-caracteres {
        margin-top: 30px;
        font-weight: 500;
        font-size: 20px;
    }
    
    .opcoes-caracteres {
        display: flex;
        margin-top: 5px;
        flex-direction: row;
        padding-top: 8px;
        font-weight: 400;
    }
    
    .button-opcao {
        color: black;
        padding: 7px 19px;
        border-radius: 0px;
        background-color: rgba(0, 0, 0, 0.1);
        border: 1px rgba(0, 0, 0, 0.3) solid;
    }
    
    .button-opcao:hover {
        background-color: rgba(0, 0, 0, 0.25);
    }

    #opcao-numeral {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border-right: none;
    }

    #opcao-maiusculas {
        border-right: none;
    }

    #opcao-minusculas {
        border-right: none;
    }

    #opcao-simbolos {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    
    #senha-gerada {
        margin-top: 45px;
        width: 500px;
        height: 30px;
        padding-left: 7px;
        border: 1px rgba(0, 0, 0, 0.3) solid;
        border-radius: 5px;
        box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2); 
    }
    
    .campo-opcoes-gerar-copiar {
        display: flex;
        margin-top: 30px;
        gap: 25px
    }
    
    .botoes-gerar-copiar {
        color: black;
        padding: 10px 30px;
        background-color: rgba(0, 0, 0, 0.1);
        border: 1px rgba(0, 0, 0, 0.3) solid;
        border-radius: 5px;
    }
    
    .botoes-gerar-copiar:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
    
    .tamanho-logo {
        margin-top: 30px;
        width: 70px;
        height: 70px;
    }

    .footer {
        margin-top: 15px;
        font-family: 'Sacramento', 
        cursive; font-size: 35px;
    }
}